<nav>
  <a class="navbutton" routerLink="/drivers"> Drivers List</a>
  <a class="navbutton" routerLink="/drivers/add-driver"> Add-Driver </a>
  <a class="navbutton" routerLink="vehicles/add-vehicle"> Add-Vehicle </a>
  <a class="navbutton" routerLink="/vehicles"> Vehicles List </a>
  <a class="navbutton" routerLink="/geofences"> Geofences </a>
  <a class="navbutton" routerLink="geofences/add-geofence"> Add-Geofences </a>
  <a class="navbutton" routerLink="circular-geofences"> Circular-Geofences-List </a>
  <a class="navbutton" routerLink="polygon-geofences"> Polygon-Geofences-List </a>
  <a class="navbutton" routerLink="rectangular-geofences"> Rectangular-Geofences-List </a>
  <a class="navbutton" routerLink="geofences/add-circular-geofence"> Add-Circular-Geofences </a>
  <a class="navbutton" routerLink="geofences/add-polygon-geofence"> Add-Polygon-Geofences </a>
  <a class="navbutton" routerLink="geofences/add-rectangle-geofence"> Add-Rectangular-Geofences </a>
  <a class="navbutton" routerLink="routehistory"> Route-History </a>
  <a class="navbutton" routerLink="routehistory/add"> Add-Route-History </a>
  <a class="navbutton" routerLink="vehiclesInformation"> Vehicle-information </a>
  <a class="navbutton" routerLink="vehiclesInformation/add"> Add-Vehicle-information </a>
</nav><router-outlet></router-outlet>